# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
venv/
.env/

# VS Code
.vscode/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Testes / coverage
.coverage
htmlcov/

# Builds
dist/
build/